<app-header></app-header>
<app-breadcrumbs></app-breadcrumbs>
<div class="container">
    <div class="col-m row aln-center courses-actions">
        <app-search-bar (searchSubmit)="findCourseByTitle($event)"></app-search-bar>
        <app-add-course></app-add-course>
    </div>
    <app-courses-list
      orderByKey="duration"
      order="asc"
      *ngIf="courses.length; else noDataMessage"
      (delete)="deleteCourse($event)"
      (edit)="editCourse($event)"
      [list]="courses">
    </app-courses-list>
</div>
<app-footer></app-footer>


<ng-template #noDataMessage>
  <p class="no-data-message">No courses found, feel free to add a new one.</p>
</ng-template>
