<div class="container full-height">
    <div class="row aln-center jst-center">
        <form 
            class="form login-form card" 
            (ngSubmit)="onLoginSubmit()"
            [formGroup]="loginForm"
        >
            <h3 class="form__header">Login</h3>
            <label class="form__vertical-group">
                <span class="form__label">E-mail</span>
                <input
                    formControlName="login"
                    class="input form__input"
                    required
                    placeholder="Enter email">
            </label>
            <label class="form__vertical-group">
                <span class="form__label">Password</span>
                <input
                    type="password"
                    formControlName="password"
                    class="input form__input"
                    required
                    placeholder="Enter password">
            </label>
            <div class="form__group login-form__bottom-section">
                <a class="form__link" routerLink="/">Forgot password?</a>
                <button
                    class="form__submit button"
                    type="submit">
                    Login
                </button>
            </div>
        </form>
    </div>
</div>
<app-footer></app-footer>
