<header class="page-header">
    <div class="container">
        <div class="row aln-center">
            <a routerLink="/" class="header-logo">
                <div class="header-logo__icon logo-icon">
                    <span class="logo-icon__oval"></span>
                    <span class="logo-icon__triangle"></span>
                </div>
                <h4 class="header-logo__title">Video course</h4>
            </a>
            <nav class="page-header__navigation ml-auto">
                <ul class="navigation-list">
                    <li class="navigation-list__link">
                        <a *ngIf="(isAuthenticated | async); else loginLink"
                            routerLink="">
                            <span class="material-icons">account_circle</span>
                            {{ userFullName }}
                        </a>
                        <ng-template #loginLink>
                            <a routerLink="/login">
                                <span class="material-icons">login</span>
                                Login
                            </a>
                        </ng-template>
                    </li>
                    <li 
                        *ngIf="(isAuthenticated | async)"
                        class="navigation-list__link">
                        <a routerLink="/"
                            (click)="doLogout()"
                            class="button button--transparent button--hover-pointer">
                            <span class="material-icons">highlight_off</span>
                            Log out
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
