<ul 
    *ngIf="list.length; else noDataMessage" 
    class="courses-list">
    <li class="courses-list__entry" *ngFor="let course of list | orderBy : orderByKey : order">
        <app-course-card
          [course]="course"
          (delete)="deleteCourse($event)"
        ></app-course-card>
    </li>
    <li class="courses-list__load card">
        <button
            (click)="onLoadMore()"
            class="button button--transparent button--hover-pointer">
            Load more
        </button>
    </li>
</ul>
<ng-template #noDataMessage>
    <p class="no-data-message">No courses found, feel free to add a new one.</p>
</ng-template>
