@import '../../shared/styles/cards';
@import '../../shared/styles/inputs';

.courses-list {
    list-style: none;

    &__entry, &__load {
        margin-bottom: 2vh;
    }

    &__load {
        display: flex;
        color: #52c1e3;
        padding: .5rem;
        font-size: .8rem;
        justify-content: center;
        align-items: center;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
    }
}
