<div class="card course-card">
    <div class="row aln-center">
        <p class="course-card__title" data-test-id="title">
            {{ course.title }}
        </p>
        <div class="course-card__stats ml-auto">
            <span class="course-card__duration" data-test-id="duration">
                <span class="material-icons">access_time</span>
                {{ course.duration }}
            </span>
            <span class="course-card__date" data-test-id="date">
                <span class="material-icons">calendar_today</span>
                {{ course.creationDate | date:'dd MMM, yyyy' }}
            </span>
        </div>
    </div>
    <div class="col-m row aln-center">
        <p class="course-card__description" data-test-id="description">
            {{ course.description }}
        </p>
        <div class="course-card__actions row aln-center">
            <button
              (click)="onEditClick()"
              data-test-id="edit-btn"
              class="course-card__action button button--action button--hover-pointer">
                <span class="material-icons">edit</span>
                Edit
            </button>
            <button
              (click)="onDeleteClick()"
              data-test-id="delete-btn"
              class="course-card__action button button--action button--hover-pointer">
                <span class="material-icons">delete</span>
                Delete
            </button>
        </div>
    </div>
</div>
