@mixin stripe($height, $color) {
    display: block;
    height: $height;
    background-color: $color;
}

@mixin touchedErrorBorder {
    &.ng-invalid.ng-touched {
        border: 1px solid firebrick;
    }
}

@mixin inherit-text-props {
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    text-transform: inherit;
    text-decoration: inherit;
    color: inherit;
}