@import '../../styles/colours';
@import '../../styles/mixins';
@import '../../styles/layout-variables';
@import '../../styles/layout';

.page-footer {
    @include stripe($footer-height, $black-smoke);
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;

    .copyrights {
      color: $grey-smoke;
    }
}
