@import './app/shared/styles/layout-variables';

* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

html, body, ul {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0efed;
    padding-bottom: $footer-height + 5vh;
}
