<form *ngIf="payload" class="form course-form" (submit)="onSubmit()">
    <label class="form__vertical-group">
        <span class="form__label">Title</span>
        <input
          [ngModelOptions]="{standalone: true}"
          [(ngModel)]="payload.name"
          class="input form__input"
          required>
    </label>
    <label class="form__vertical-group">
        <span class="form__label">Descriptiion</span>
        <textarea
          [ngModelOptions]="{standalone: true}"
          [(ngModel)]="payload.description"
          class="input"
          required>
        </textarea>
    </label>
    <label class="form__vertical-group">
        <span class="form__label">Duration</span>
        <app-duration-input [(duration)]="payload.length"></app-duration-input>
    </label>
    <label class="form__vertical-group">
        <span class="form__label">Date</span>
        <app-date-input [(date)]="payload.date"></app-date-input>
    </label>
    <label class="form__vertical-group">
        <span class="form__label">Authors</span>
        <app-authors-input></app-authors-input>
    </label>
    <div class="form__group row aln-center">
        <button
          (click)="navigateBack()"
          type="button"
          class="button">
          Cancel
        </button>
        <button
          class="form__submit button"
          type="submit">
          Save
        </button>
    </div>
</form>
